# Python cache
./__pycache__/

# Version control files
./.git/
./.gitignore

# OS temporary files
./*.pyc
./*.pyo

# AWS SAM files
./.aws-sam/

# Registry and tests
./*.log
./tests/

# Local virtual environment
./venv/